@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

@import './base/reset';

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}
// font variables
$font-size-tittle-input: 10px;
$font-weight: 600;
$letter-spacing-input: 1px;
//color variables

// style for card Details
// .container {
//   width: 375px;
// }
.cardDetails {
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding-top: 30px;
  width: 100%;
  position: relative;
  padding-left: 20px;

  .backCardDetails {
    background-image: url("../images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    height: 150px;
    width: 250px;
    position: absolute;
    // right: 55px;
    left: 70px;

    #cvcContent {
      color: white;
      position: absolute;
      left: 202px;
      top: 62px;
      font-size: 8px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .frontCardDetails {
    background-image: url("../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    height: 150px;
    width: 250px;
    position: absolute;
    top: 107.5px;
    left: 18px;
      
      img {
        margin: 10px 18px 0;
      }
      #frontCardNumber {
        color: white;
        font-size: 15px;
        letter-spacing: 2px;
        position: absolute;
        top: 80px;
        left: 23px;
      }
      #frontCardName {
        position: absolute;
        top: 110px;
        left: 22px;
        font-size: 6px;
        color: white;
        letter-spacing: 1px;
      }
      #expireDate {
        position:absolute;
        left: 195px;
        bottom: 33px;
        font-size: 8px;
        color: white;
        letter-spacing: 1px;
        font-weight: 300;
        display: flex;
      }
  }
}

// Style for Form 

.formDetails {
  margin-top: 100px;

  form {
    font-size: $font-size-tittle-input;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing-input;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      margin-left: 15px;
      letter-spacing: 1px;
    }

    .labelYear {
      margin-left: 3px;
    }

    .cvcLabel {
      margin-left: 12px;
    }

    input {
      width: 300px;
      margin: 5px 15px;
      height: 35px;
      border: grey solid 1px;
      border-radius: 5px;

    }
    .invCardAndNumber {
      margin-left: 18px;
      margin-bottom: 5px;
      color: #ff5252
    }
    .inputsCard {
      display: flex;
      row-gap: 3px;

      #expireMonthForm {
        width: 60px;
        margin-right: 3px;
      }

      #expireYearForm {
        width: 60px;
        margin-left: 2px;
        margin-right: 3px;

      }

      #cvcInput {
        width: 170px;
        margin-left: 2px;
      }
    }

    button {
      background-color: black;
      color: white;
      width: 300px;
      margin-top: 20px;
      margin-left: 15px;
      padding: 10px;
      border-radius: 5px;
    }
  }

}